.Row1
{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}


.coltestata
{
  width: 100%;
  height: 100%;
  padding: 12px 12px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hr-graphbox
{
  position: relative; 
}

.hc-graphbox
{
  width: 100%;
  height: 100%;
  padding: 8px 4px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectAnno
{
  
}

